@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Noto+Sans+KR:wght@100..900&display=swap');

$sunny: #F7E7B0; //맑음
$sunny-dark: #F4D66D; //맑음 어두움
$clouds: #D8D1C6; //흐림
$clouds-dark: #A99C86; //흐림 어두움
$rain: #A7B9C4; //비
$rain-dark: #7B9FB4; //비 어두움
$thunder: #9A8D96; //천둥번개
$thunder-dark: #735E6D; //천둥번개 어두움
$snow: #E1EBF1; //눈
$snow-dark: #A9CCE4; //눈 어두움
$mist: #D7E0DB; //안개
$mist-dark: #A8B7AE; //안개 어두움

$sub: #eee;
$text-color: #333;

// font
$font-Kr: "Noto Sans KR", sans-serif;
$font-En: "Libre Bodoni", "Bodoni Moda", serif;
