@use './variables' as *;
body {
  font-family: $font-Kr;
}
.header {
    z-index: 1000;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    height: 70px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    transform: translateY(0);
    transition: transform 0.3s ease, background 0.3s ease;
  .header-inner{
        max-width: 1440px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    .logo{
        img{
          width: 120px;
        }
        cursor: pointer;
    }
    .menu{
        display: flex;
        gap: 40px;

        button{
        background: none;
        border: none;
        font-size: 15px;
        color: $text-color;
        font-weight: 500;
        cursor: pointer;

        &:hover{
            color: black;
            }
        }
    }
  }
  
}

/* 스크롤 내려오면 고정 */
.header.fixed{
  position: fixed;
  top: -100px; 
  transform: translateY(120px);
  transition: transform 0.3s ease;
}

/* 날씨별 색상 */

.header.sunny{
  background: rgba($sunny, 0.6);
}

.header.cloudy{
  background: rgba($clouds, 0.6);
}

.header.rainy{
  background: rgba($rain, 0.6);
}

.header.stormy{
  background: rgba($thunder, 0.6);
}

.header.snowy{
  background: rgba($snow, 0.6);
}

.header.misty{
  background: rgba($mist, 0.6);
}


//반응형
@media screen and (max-width: 1440px) {
  .header {
    height: 55px;
  .header-inner{
        max-width: 1280px;
    .logo{
        img{
          width: 90px;
        }
    }
    .menu{
        display: flex;
        gap: 40px;

        button{
        font-size: 15px;
        }
    }
  }
  }
}
@media screen and (max-width: 1280px) {
  .header {
    height: 50px;
  .header-inner{
        max-width: 1024px;
    .logo{
        img{
          width: 85px;
        }
    }
    .menu{
        display: flex;
        gap: 30px;

        button{
        font-size: 13px;
        }
    }
  } 
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 50px;
  .header-inner{
        max-width: 800px;
    .logo{
        img{
          width: 85px;
        }
    }
    .menu{
        display: flex;
        gap: 30px;

        button{
        font-size: 13px;
        }
    }
  } 
  }
}
@media screen and (max-width: 960px) {
  .header {
    height: 50px;
  .header-inner{
        max-width: 720px;
    .logo{
        img{
          width: 85px;
        }
    }
    .menu{
        display: flex;
        gap: 30px;
        button{
        font-size: 13px;
        }
    }
  } 
  }
}
@media screen and (max-width: 720px) {
  .header{
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    .header-inner{
        max-width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      .logo{
        margin-bottom: 10px;
          img{
            width: 100px;
          }
      }
      .menu{
          display: flex;
          gap: 50px;
          button{
          font-size: 14px;
          }
          .mohide{display: none;}
      }
    } 
  }
  .header.fixed{
  position: fixed;
  /* top: -100px;  */
  transform: translateY(100px);
  transition: transform 0.3s ease;
}
}
@media screen and (max-width: 480px) {
  .header{
    height: 100px;
    .header-inner{
        max-width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      .logo{
        margin-bottom: 10px;
          img{
            width: 90px;
          }
      }
      .menu{
          display: flex;
          gap: 40px;
          button{
          font-size: 12px;
          }
      }
    } 
  }
}